package pages

import (
	"github.com/pezdel/go-auth/templates/partials"
	"github.com/pezdel/go-auth/templates/shared"
)

templ AdminPage(email string) {
	@shared.Home() {
		@partials.AuthNavbar()
		<main class="container">
			<article id="article">
				<h2>Admin Page</h2>
				<p>
					<div>Email: { email }</div>
				</p>
				<footer></footer>
			</article>
		</main>
		@partials.Footer()
	}
}
